@import 'bootstrap/dist/css/bootstrap.css';

body {
  padding: 0;
  margin: 0;
  background-color: #101010;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.icon-plus {
  color: #1A74E2;
  font-size: 80px;
  position: fixed;
  bottom: 1%;
  right: 1%;
}
